.content {
  padding: 40px;

  h1 {
    margin: 0;
  }
}

.content_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search_block {
  position: relative;
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 174px;
    outline: none;
  }
}

.content_item2 {
  display: flex;
}

.d_flex {
  display: flex;
  flex-wrap: wrap;
}

.clearBtn {
  top: 6px;
  right: 10px;
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
